.header{
  margin-top: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerRightItem{
  margin: 1.4rem;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

.search{
  padding: 0.8rem;
  width: 25rem;
  height: 3rem;
  border-radius: 10px;
  border-width: 0px;
  font-size: 1.2rem;
}

.search:focus {
  border-width: 0px;
}

.searchContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.searchContainer input{
  border-color: var(--primary-glow)
}

.storeLogo{
  border-radius: 10px;
}

.profilePic{
  width: 2.2rem;
  height: 2.4rem;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  display: inline-block;
}

.profileDetails{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    right: 0.5rem;
    z-index: 1;
    overflow: auto;
}

.profileDetails a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profilePic:hover .profileDetails {
  display: block;
  background: rgb(215, 216, 218);
}

.profileDetails a:hover {
  background-color: black;
  color: white;
  border-radius: 9px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  /* row-gap: 3rem;
  column-gap: 3rem; */
  gap: 3.5rem;
}


.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  position: relative;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

.form{
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  transition: background 200ms, border 200ms;
  position: relative;
  width: 40rem;
  margin-left: 50rem;
  margin-right: 50rem;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.formfooter{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form input, .form select {
margin: 20px;
text-align: center;
padding: 20px;
vertical-align: center;
font-size: 20px;
border-radius: 15px;
border-width: 0.9px;
border-color: rgb(215, 216, 218);
background-color: var(--primary-glow);
}

.form select {
  width: 19rem;
}

.form input:focus, .registerForm input:focus{
  border-width: 0px;
  border-color: none;
}

.form button, .registerForm button{
  width: 100px;
  height: 50px;
  text-align: center;
  margin: auto 30%;
  margin-top: 1rem;
  font-size: 20px;
  border-radius: 23px;
  border-width: 0px;
  background-color: rgb(227, 231, 235);
  color: rgb(39, 34, 34);
  padding: 12px;
}

.form button:hover, .registerForm button:hover{
  background: var(--primary-glow);
  color: white;
}

.form a, .registerForm a{
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  font-size: 1.3rem;
  color:rgb(183, 183, 209);
}

.form a:hover, .registerForm a:hover{
  color: rgb(69, 69, 151);
}

.form .forgotPassword{
  font-size: 1.1rem;
}

.registerContainer{
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: repeat(2, minmax(25%, auto));
  gap: 1.8rem;
}

.registerForm{
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  position: relative;
  width: 60vw;
  margin-left: 50rem;
  margin-right: 50rem;
  margin-top: 7rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.registerForm input, .registerForm select {
  display: flex;
  margin: 0.5rem;
  text-align: center;
  width: 30vw;
  padding: 20px;
  vertical-align: center;
  font-size: 20px;
  border-radius: 3px;
  border-width: 0.9px;
  border-color: rgb(215, 216, 218);
  background-color: var(--primary-glow);
  }

.passwords{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-left:  1rem; */
}

.recoverPasswordInput{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-glow);
}

.cardend{
  position: relative;
  margin: 1rem;
  font-size: 34px;
}

.badge {
  background-color: green;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  position: absolute;
  z-index: 2;
  right:-1.5rem;
  top:-1.7rem;
}

.loading{
  margin-left: 40vw;
}

.modalDivision {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: repeat(2, minmax(42%, auto));
    gap: 0.9rem;
}

.modalDescription {
  margin-top: 5rem;

}

.modalImage{
margin-top: 3rem;
height: 23rem;
width: 20rem
}

.modalDescription p {
  font-weight: 600;
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
}

.modalDescription input{
  margin-bottom: 3rem;
  height: 1rem;
  width: 10rem;
  padding: 2rem;
  font-size: 1.5rem;
}


.modalDescription h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1.3rem;
}

.modalDescription button{
  text-transform: capitalize;
  width: 10rem;
  height: 50px;
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
  border-width: 0px;
  background-color: rgb(58, 209, 96);
  color: rgb(255, 252, 252);

}

.modalDescription button:hover{
  background-color: rgb(33, 92, 51);
  color:rgb(238, 237, 237);
  border-radius: 12px;
  transition:cubic-bezier(0.6, -0.28, 0.735, 0.045)
}

.modal {
  display: block;
  position: fixed; 
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--primary-glow);
  background-color: rgba(0,0,0,0.7);
}

.modalContent {
  /* background-color: #fefefe; */
  background-color: rgba(var(--card-rgb), 0.1);
  background-color: rgba(0,0,0,0.6);
  margin: auto;
  padding: 2.5rem;
  /* border: 1px solid #888; */
  border: 0px solid #888;
  border-radius: 1.2rem;
  width: 50%;
  height: 80%;
  overflow-y: auto;
}

.modalContent span {
  color: white;
}

.close {
  /* color: #aaaaaa; */
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  /* color: #000; */
  text-decoration: none;
  cursor: pointer;
}

.orderContainer{
  overflow-y:auto;
  position: relative;
}
.orderTitle{
  margin-top: 3.3rem;
}

.orderContainer ul {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
}

.orderContainer li{
  list-style: none;
  margin-top: 2rem;
  position: relative;
  padding: 4px 2px 5px 40px;
  height: 4rem;
  line-height: 1.3;
  font-size: 1.3rem;
}

.orderContainer li:hover{
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

            
.orderContainer li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  height: 5px;
  width: 5px;
  border: 1px solid #5c4c25;
  border-width: 5px 5px 0 0;
  transform: rotate(45deg);
  padding: 3px;
  margin-top: 3px;
}

.orderContainer button{
  text-transform: capitalize;
  width: 10rem;
  height: 50px;
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
  border-width: 0px;
  background-color: rgb(58, 209, 96);
  color: rgb(255, 252, 252);

}

.orderContainer button:hover{
  background-color: rgb(33, 92, 51);
  color:rgb(238, 237, 237);
  border-radius: 12px;
  transition:cubic-bezier(0.6, -0.28, 0.735, 0.045)
}

.orderContainerFooter button{
  position: fixed;
  bottom: 2rem;
  right: 4rem;
}

.orderContainerFooterDetails h1{
  position: fixed;
  bottom: 2rem;
  left: 8rem;
}

.listCart{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listCart span{
  margin-left: 9px;
  font-size: 2rem;
  cursor: pointer;
  color: red;
}

.ldsRoller{
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: -1;
}

.ldsRoller div {
  animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.done{
  margin-top: 3rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.done p {
  margin-top: 2rem;
}

.done a {
  margin-top: 2rem;
  text-decoration: underline;
}

.doneImage{
  font-size: 10rem;
}


.errorMsg{
  text-align: center;
  font-weight: bold;
  color: rgb(235, 48, 48)
}

.addProductContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  overflow-y:auto;  
  height: 70vh;
}


.addProductInputDetails{
  display: flex;
  flex-direction: column;
  
}

.addProductInputDetails input, .addProductInputDetails textarea {
  width: 20rem;
  height: 3rem;
  padding: 10px;
  margin: 0.8rem;
  vertical-align: center;
  font-size: 20px;
  border-radius: 3px;
  border-width: 0.9px;
  border-color: rgb(215, 216, 218);
  background-color: var(--primary-glow);
  
}

.addProductInputDetails label{
  text-align: justify;
  font-size: 1.3rem;
}

.addProductInputDetails textarea{
  height: 4.5rem;
  resize: none;
}

.addProductInputDetails button{
  width: 20rem;
  margin: 0.8rem;
  height: 4rem;
  font-size: 20px;
  border-width: 0px;
  background-color: rgb(19, 177, 58);
  color: rgb(255, 252, 252);
  border-radius: 12px;
}



.addProductInputDetails button:hover{
  background-color: rgb(33, 92, 51);
  color:rgb(238, 237, 237)
  
}

.addProductInputDetails input:focus, .addProductInputDetails textarea:focus {
  border-width: 0px;
}


.wrapperContainer{
  display:flex;
  flex-direction: row;
}
.wrapperCard{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly
}

.wrapper {
  width: 25rem;
}

.cardLoader {
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 -1px 3px 0 rgba(0,0,0,0.06);
  padding: 8px;
  margin: 2.5rem;
  height: 15rem;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--primary-glow);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  position: relative;
}

.cardLoader:only-child{
  margin-top: 0;
}

.cardLoader::before{
  content: '';
  height: 110px;
  display: block;
  background-color: #c9c5c5;
  box-shadow: -48px 78px 0 -48px #e0cccc, -51px 102px 0 -51px #f0e0e0;
}


.cardLoader::after{
    content: '';
      background-color: #333;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-name: loader-animate;
      animation-timing-function: linear;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .header h1 {
    font-size: 1rem;
  }
  .loading{
    margin-left: 6.5vw;
  }
  
  .welcome{
    font-size: 0.55rem;
    font-weight: bold;
  }
  .modalContent {
    width: 80%;
  }
  .modalImage{
    margin-top: 3rem;
    height: 9rem;
    width: 9rem;
    }

  .modalDivision {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .modalDescription {
    overflow: wrap;
  }

  .modalDescription h1 {
    font-size: 2.1rem;
}
  

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .registerContainer{
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
  }

  .forgetHeader{
    text-align: center;
    padding: 23px;
  }
  
  .search{
    width: 20rem;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

  .form{
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    transition: background 200ms, border 200ms;
    position: relative;
    width: 80vw;
    margin-left: 50rem;
    margin-right: 50rem;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

.form input, .form select {
    max-width: 52vw;
  }

  .registerForm{
    margin-top: 4em;
  }

  .registerForm input, .registerForm select {
    display: flex;
    margin: 0.5rem;
    text-align: center;
    width: 50vw;
    padding: 15px;
    vertical-align: center;
    font-size: 20px;
    border-radius: 3px;
    border-width: 0.9px;
    border-color: rgb(215, 216, 218);
    }

    .registerForm button {
      margin: auto 23%;
    }

    .orderContainerFooterDetails{
      display: flex;
      flex-direction: column;
      font-size: 12px;
    }

    .orderContainerFooterDetails h1{
     position: fixed;
     left: 2px;
     bottom: 2px;
     font-size: 1.2rem;
    }

    .orderContainerFooter button{
      bottom: 3rem;
    }
    .wrapperContainer{
      display:flex;
      flex-direction: column;

    }
  
}
@media (max-width: 1390px){
  .modalImage {
   width: 13.5rem;
   height: 13.5rem;

}
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .modalContent {
    width: 80%;
  }

  .modalImage{
    margin-top: 3rem;
    }

  .modalDivision {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .modalDescription {
    overflow: wrap;
  }

  .modalDescription h1 {
    font-size: 2.1rem;
}
}

@media (prefers-color-scheme: dark) {
  .storeLogo {
    /* filter: invert(1); */
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-animate{
  0%{
     transform: translate3d(-100%, 0, 0);
   }
  100%{
     transform: translate3d(100%, 0, 0);
   }
 }